@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import"../node_modules/slick-carousel/slick/slick.scss";
@import 'constant';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
*{padding:0;margin:0;font-size:16px;font-family: 'Open Sans', sans-serif !important;color:#6e6e6e;}
$font-color:#ffffff;
$Alabaster:#f8f8f8;
$skyblue-color:#1597b7;
$greytext-color:#6e6e6e;
$heading-color:#44525d;
$Blizzard-Blue:#BBE0F2;
$Chelsea-Cucumber:#83b66b;
$Mercury:#E8E8E8;
$Viola:#c992b9;
$Oxley:#6f9a89;
$Kimberly:#7c6a9c;
$Lavender-Gray:#c3b2d6 ;
$Sunglo:#e1767c; 
$Wattle:#e0da44; 
$Steel-Blue:#4996B2;
$Moss-Green:#a9dca4; 
$Eastern-Blue:#1597b7;
$tinyFont: 13px;
$smallerFont: 14px;
$smallFont: 16px;
$regularFont: 18px;
$mediumFont: 24px;
$bigFont: 40px;
$largeFont: 48px;
$fontweight:bold;
$mediaMaxWidth: 1199px;
$tablet-width: 768px;
$desktop-width: 1024px;
$mediaBp1Width: 960px;
$desktop:992px;
$tablet:767px;
$mediaMinWidth: 480px;
$smalldevice:375px;
      
/************header************/
header{

.right-column {
	padding-top: 9%;float:right;
	.btn.btn-danger {
		padding: 15px 32px;color:$font-color;background:$Sunglo;
		border-radius:4px;border:0;transition: all .3s;
	&:hover{background:$skyblue-color;}
	}
}
}
/*********banner************/
#banner {
	background:$Alabaster;
	padding: 80px 0;
	text-align: center;
	h1{
		color:$skyblue-color;font-size:$bigFont;
	}
	p{color:$greytext-color;}
	a{padding: 15px 32px;
		color:$font-color;background:$skyblue-color;border-radius: 4px;
		border: 0;transition: all 0.3s;display: block;width: 100%;
		max-width: 20%;margin: 14px auto 0;text-decoration: none;
	&:hover{background:$Sunglo;}
	}
}

/***********boost-student*********/
.boost-student{
	padding:80px 0px;
.container {
	display: flex;
	.main-column {
		&:nth-child(2) {
			padding-top: 10%;
		}
	.colum-student {
		box-shadow: 0 0 10px 10px #c8c5c52e;margin-bottom: 40px;padding:30px 20px;border-radius: 2px;
		img {
			width:100%;
		}
		
	
		h3{color:$heading-color;font-size:$mediumFont;}
		p{color:$greytext-color;}
	}
	}
	}
}
/**************top-slider*************/
.top-slider{
	text-align:center;
	padding-top: 80px;background:$Alabaster;height: 100%;
	min-height: 750px;
	.main-outer {
		background: $Blizzard-Blue;
		padding-top: 50px;max-height: 500px;
		

.client-heading{
	max-width: 50%;margin: 0 auto;	
	width: 100%;
 h2 {
	color:$heading-color;
} 
}
.cl-inner {
	
	margin-right: 20px;
	padding: 10px;
	
	
}
.img-circle {
	display: block;
	width: 100%;

 img {
	width: 100%;max-width:80%;margin:0 auto;position:initial;
}
}
.outer.slick-initialized.slick-slider {
	bottom: -19px;
	
}
.slick-dots  {
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translate(-50%);
	li{
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	&:active{
		border-radius: 50px;
		height: 9px;
		width: 9px;
	}
	button{
		font-size:0px !important;
		border-radius: 50%;
		height:9px;
		width:9px;float: left;
		border: 0;background:gray;
	}
	}
}
.back-arrow.slick-arrow {
	border: 0;
	position: absolute;
	top:50%;background: none;left:20px;transform: rotate(180deg);
	img {
		width: 40px;
	}
}
.next-arrow.slick-arrow {
	border: 0;
	position: absolute;
	right: 20px;
	top:50%;background: none;
	img {
		width: 40px;
	}
}
}
}
/*****how-it-work*******/
.how-work{text-align: right;
	padding: 50px 0;
	h2{color:$heading-color;font-size:$bigFont;text-align:center;font-weight:$fontweight;margin-bottom:50px;}
	.column-work-margin {
		height: 100%;min-height: 105px;
	}
	.column-work1{	
		padding-right: 50px;
 h4 {
	color: $Chelsea-Cucumber;
}
&::after {
	position: absolute;
	content: "1";
	border-radius: 50%;
	background:  $Mercury;
	text-align: center;
	top: -6px;
	z-index: 99;
	right: -21px;
	padding: 10px 17px;color: $Chelsea-Cucumber;font-weight:$fontweight;
}
	}

p{color:$greytext-color;}
.column-work2 {
	padding-right: 50px;
	h4{
	color: $Oxley;
}
&::after {
	position: absolute;
	content: "3";
	border-radius: 50%;
	background: $Mercury;
	text-align: center;
	top: -6px;
	z-index: 99;
	right: -21px;
	padding: 10px 17px;color: $Oxley;font-weight:$fontweight;
}
}
.column-work3 {
	text-align:left;padding-left: 50px;
	h4{
	color: $Viola;
}
p{text-align:left;}
&::before {
	position: absolute;
	content: "2";
	border-radius: 50%;
	background: $Mercury;
	text-align: center;
	top: -6px;
	z-index: 99;
	left: -23px;
	padding: 10px 17px;color: $Viola;font-weight:$fontweight;
}
}
.column-work4 {
	text-align:left;padding-left: 50px;
	h4{
	color: $Kimberly;
}
p{text-align:left;}
&::before {
	position: absolute;
	content: "4";
	border-radius: 50%;
	background: $Mercury;
	text-align: center;
	top: -6px;
	z-index: 99;
	left: -23px;
	padding: 10px 17px;color: $Kimberly;font-weight:$fontweight;
}
}
.how-work-column1{
	&:after{
	border-right: 5px solid #6e6e6e;
	position: absolute;
	content: "";
	height: 100%;
	top: 0px;
	right: 0px;
}
}
.btn-1 {
	padding: 15px 32px;
	color: $font-color;
	background: $Sunglo;
	border-radius: 4px;
	border: 0;
	transition: all 0.3s;
	margin: 0 auto;
	&:hover{background: $Steel-Blue;}
}
}




/**************number**************/
#number{
	text-align:center;
	padding:50px 0;
	background: #80808014;
	h2{color:$heading-color;font-weight:$fontweight;margin-bottom:50px;}
.number-heading {
	box-shadow: 0 0 10px 10px #c8c5c52e;
	margin-bottom: 50px;background: white;border-radius:5px;
	 h4 {
		background: $Kimberly;
		padding: 20px;
		border-radius: 4px;color:$font-color;
	}
	p{background-image: url("../images/bg-icon.png");
		background-repeat: no-repeat;
		background-position: right;padding: 30px;
	}
}
.nh-heading{
	p{
	max-width: 70%;
	margin: 0 auto;
	}
}
.number-heading.nmbr-2  {
	h4{
	background: $Sunglo;
	}
}
.number-heading.nmbr-3  {
	h4{
	background: $Wattle;
	}
}
.number-heading.nmbr-4 {
	margin-top: 21%;
	h4{
		background:#a9dca4;
	}
}
.number-heading.nmbr-5  {
	h4{
	background: $skyblue-color;
	}
}
}
/***********accordination****************/
.accodination {
	text-align: center;padding:50px 0;
	h2{color:$heading-color;font-weight:$fontweight;}
	#accordion {
		margin: 0 auto;

.card {
	border: 0;margin-bottom: 20px;
.card-header {
	border-bottom: 0;
	a{
		color:$heading-color;
	}
}
}
}
}
/*************bottom-slider*****************/
.botom-slider{
	text-align:center;
	padding: 80px 0;background:$Alabaster;
.client-heading{
	max-width: 50%;margin: 0 auto 50px;	
	width: 100%;
 h2 {
	color:$heading-color;font-weight:$fontweight;
} 
}
.cl-inner {
	position: relative;
background:transparent;
padding: 10px;
margin-right: 30px;
border: 1px solid gainsboro;
	
	&:after, &before{
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-top-color: gainsboro;
		border-width: 14px;
		margin-left: -14px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-top-color: gainsboro;
		border-width: 14px;
		margin-left: -14px;
	}
}
.img-circle img {
	width: 100%;
	border-radius: 50%;
max-width: 30%;
margin: 30px auto 0;
}
ul{ 
	li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	button {
		font-size: 0px !important;
		border-radius: 50%;
		height: 9px;
		width: 9px;
		float: left;
		border: 0;
		background: gray;
	}
}
}
.slick-next.slick-arrow {
	top: 50%;
	position: absolute;border:0;
	right: 0;
}
.back-arrow.slick-arrow {
	border: 0;
	position: absolute;
	top: 15%;background: none;left:-92px;
}
.next-arrow.slick-arrow {
	border: 0;
	position: absolute;
	right: -92px;
	top: 15%;background: none;
}
.img-circle{
h4{color:$heading-color;font-weight:$fontweight;font-size:$smallFont;}
p{font-size:$smallerFont;}
}
}
/***************ambituion******************/
.ambituion {
	background-image: url("../images/ESL-Schools-vFinal.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
	height: 100%;min-height:500px;
	.text-ambition {
		padding-top: 0;
	}
	h2{color:$heading-color;font-weight:$fontweight;margin-bottom: 20px;}
	ul{
		padding-left:17px;
		li {
		   list-style: decimal;
		   cursor: pointer;
		   margin-bottom: 20px;
	   }
   }
	 .btn-1 {
		padding: 15px 32px;
		color: $font-color;
		background: $Sunglo;
		border-radius: 4px;
		border: 0;
		transition: all 0.3s;
		margin: 0 auto;
		&:hover{background:$Steel-Blue;}
	}

}
/*************footer*************/
#footer {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	background: $Steel-Blue;
	padding: 15px 0px;


.footer-logo {
	display: flex;
	overflow: hidden;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}
ul{
display:inline-block;
width:100%;padding-top:13%;
li {
	float: left;
	margin-right: 15px;list-style:none;
	 a {
		color: $font-color;
		font-size: 14px;text-decoration: none;
	}
}
}
.footer-logo img {
	width: 100%;
	max-width: 150px;
}
}
/***************media quary***********/
@media screen and (max-width:$mediaMaxWidth){
.top-slider .main-outer .outer.slick-initialized.slick-slider {
	bottom: -70px;
}
.ambituion {
	background-position: center right;
}
}

@media screen and (max-width:$mediaBp1Width){
	.container {
		max-width: 95%;
	}
.logo.left-column {
img {
	width: 100%;
	max-width: 150px;
}
}
#banner {
	a{
		max-width: 30%;
	}
}
.boost-student{
	.text-column{
	h3{
		font-size:20px !important;
	}
}
}
.top-slider{
	padding-bottom:150px;min-height:100%;
	.img-circle{
	img {
	max-width: 75% !important;
	}
}
}
.next-arrow.slick-arrow {
    display: none !important;

}
.back-arrow.slick-arrow {
display:none !important;

}
}
@media screen and (max-width:$desktop){
	.top-slider{
		padding-bottom:150px;min-height:100%;
		.img-circle{
		img {
		max-width: 75% !important;
		}
	}
	}
}
@media screen and (max-width:$tablet){
	header{
	.logo.left-column {
		text-align: center;
	}
	 .right-column {
		padding-top: 3%;
		float: inherit;
		text-align: center;
		margin-bottom:30px;
	}
}
#banner {
	padding: 50px 0;
}
.boost-student {
	padding: 50px 0px;

.colum-student {
	text-align: center;
	img{
		max-width:40%;
	}
}
}
.how-work {
	text-align:center;
	.how-work-column1{
	&:after {display: none;}
	}
	.column-work3 {
	text-align: center;margin-bottom: 30px;padding-left: 15px;
	p{text-align:center;}
	&:before{display:none;}
}
.column-work1 {
	margin-bottom: 30px;padding-right: 15px;
	&:after{display:none;}
}
.column-work2 {
	margin-bottom: 30px;padding-right: 15px;
	&:after{display:none;}
}
.column-work4 {
	text-align: center;margin-bottom: 30px;padding-left: 15px;
	p{text-align:center;}
	&:before{display:none;}
}
.column-work-margin {
	display: none;
}
}
#number{
	 .number-heading.nmbr-4 {
	margin-top: 0;
}
}
.text-ambition {
	text-align: center;
}
#footer ul {
	padding-top: 0;display: flex;
	justify-content: center;
}
#footer{
	 .footer-logo {
	margin-bottom: 20px;
}
}
.ambituion {
h2 {
	font-size: 20px;
}
}
.botom-slider 
{.client-heading {
	max-width: 100%;
	margin: 0;
}
}
.ambituion {
	min-height: 100%;
}
#number{ 
	.nh-heading{
		 p {
	max-width: 100%;
	margin: 0 auto;
}
	}
}
}
@media screen and (max-width:$mediaMinWidth){
	#banner {
	h1 {
		font-size: 25px;
	}
	a{max-width: 50%;}

}
.how-work{
	h4{font-size:20px;}
 h2 {
	font-size: 25px;
	margin-bottom: 10px;
}
}
#number{
	h2{font-size:25px;}
}
.accodination{
	h2{font-size:25px;}
}
.botom-slider{
	h2{font-size:25px;}
}
}


@media screen and (max-width:$smalldevice){
	#banner{
	 a {
		max-width: 70%;
	}
}
.ambituion {
	background-position: 80% 0;
}
.top-slider{
	padding-bottom: 50px;
	padding-top: 50px;
	 img {
	max-width: 67% !important;
}
.outer.slick-initialized.slick-slider {

	bottom: -32px !important;
}
}
}
